apparmor==3.1.3
appdirs==1.4.4
argcomplete==2.0.0
Authlib==1.2.0
awscli==1.27.123
Babel==2.10.3
beautifulsoup4==4.12.2
blivet==3.5.0
blivet-gui==2.4.1
bodhi-client==7.1.1
botocore==1.29.123
Brlapi==0.8.4
cachetools==5.2.0
CCColUtils==1.5
certifi==2021.10.8
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.4
configobj==5.0.6
construct==2.10.68
contourpy==1.1.0
cryptography==37.0.2
cson==0.8
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
dasbus==1.6
dbus-python==1.3.2
decorator==5.1.1
distro==1.7.0
dnspython==2.2.1
docutils==0.16
evdev==1.6.0
fb-re2==1.0.7
fedpkg==1.44
file-magic==0.4.0
filelock==3.7.1
fonttools==4.40.0
gbinder-python==1.1.1
gitdb==4.0.9
GitPython==3.1.30
gpg==1.17.0
gssapi==1.7.3
humanize==3.13.1
idna==3.3
initial-setup==0.3.95
Jinja2==3.0.3
jmespath==1.0.1
kerberos==1.3.0
kitchen==1.2.6
kiwisolver==1.4.4
koji==1.32.0
langtable==0.0.61
LibAppArmor==3.1.3
libcomps==0.1.18
lockfile==0.12.2
lutris==0.5.13
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.7.1
mercurial==6.2.3
meson==1.0.1
munch==2.5.0
nftables==0.1
notify2==0.3.1
numpy==1.25.0
olefile==0.46
openidc-client==0.7.0
packaging==21.3
pandas==2.0.3
patsy==0.5.3
pexpect==4.8.0
pid==2.2.3
Pillow==9.2.0
ply==3.11
productmd==1.35
progressbar2==3.53.2
protobuf==3.19.6
ptyprocess==0.6.0
pwquality==1.4.5
pyasn1==0.5.0
pybeam==0.7
pybit==5.4.0
pycairo==1.21.0
pyclip==0.7.0
pycparser==2.20
pycryptodomex==3.17.0
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
pygit2==1.7.1
Pygments==2.12.0
PyGObject==3.42.2
pykickstart==3.41
pyparsing==3.0.9
pyparted==3.12.0
pypresence==4.2.1
PyQt5==5.15.9
PyQt5-sip==12.11.0
pyroute2==0.6.12
pyroute2.core==0.6.12
pyroute2.ethtool==0.6.12
pyroute2.ipdb==0.6.12
pyroute2.ipset==0.6.12
pyroute2.ndb==0.6.12
pyroute2.nftables==0.6.12
pyroute2.nslink==0.6.12
PySocks==1.7.1
python-augeas==1.1.0
python-bugzilla==3.2.0
python-dateutil==2.8.2
python-fedora==1.1.1
python-gettext==4.0
python-manatools==0.0.4
python-meh==0.50
python-utils==3.1.0
python-yubico==1.3.3
pytz==2023.3
pyudev==0.23.2
pyusb==1.2.1
pyxdg==0.27
PyYAML==5.4.1
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-kerberos==0.12.0
rpkg==1.66
rpm==4.18.1
rpmautospec==0.3.5
rpmlint==2.4.0
rsa==4.7.2
s3transfer==0.6.0
scipy==1.11.1
scour==0.38.2
selinux==3.5
sepolicy==3.5
setools==4.4.0
setproctitle==1.2.3
simpleline==1.9.0
six==1.16.0
smmap==5.0.0
sos==4.4
soupsieve==2.3.2.post1
speg==0.3
statsmodels==0.14.0
steam==1.4.3
systemd-python==235
templated-dictionary==1.1
tldextract==3.4.0
tomli_w==1.0.0
tzdata==2023.3
urllib3==1.26.12
VapourSynth==60
vdf==3.4
websocket-client==1.6.1
websockets==11.0.3
zstandard==0.19.0
